---
layout: default
---
<div class="post">
  <div>
    <ins class="kakao_ad_area" style="display:none;"
         data-ad-unit    = "DAN-TlDM4UXJ5OfUHNZw"
         data-ad-width   = "320"
         data-ad-height  = "100"></ins>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  </div>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
